<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fuadmuhtaz.tangselsehat" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LihatTentangAplikasi"
            android:label="@string/title_activity_lihat_tentang_aplikasi"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fuadmuhtaz.tangselsehat.MainActivity" />
        </activity>
        <activity
            android:name=".LihatDaftarPuskesmas"
            android:label="@string/title_activity_lihat_daftar_puskesmas"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fuadmuhtaz.tangselsehat.MainActivity" />
        </activity>
        <activity
            android:name=".LihatPuskesmas"
            android:label="@string/title_activity_lihat_puskesmas"
            android:parentActivityName=".LihatDaftarPuskesmas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fuadmuhtaz.tangselsehat.LihatDaftarPuskesmas" />
        </activity>
        <activity
            android:name=".LihatPeta"
            android:label="@string/title_activity_lihat_peta" >
        </activity>
        <activity
            android:name=".LihatDaftarRumahSakit"
            android:label="@string/title_activity_lihat_daftar_rumah_sakit"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fuadmuhtaz.tangselsehat.MainActivity" />
        </activity>
        <activity
            android:name=".LihatRumahSakit"
            android:label="@string/title_activity_lihat_rumah_sakit"
            android:parentActivityName=".LihatDaftarRumahSakit" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fuadmuhtaz.tangselsehat.LihatDaftarRumahSakit" />
        </activity>
    </application>

</manifest>
